<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autoflixx - Confiteria</title>
  <!-- Favicon -->
  <link rel="icon" th:href="@{/imgs/resources/FLIXX_ISO.svg}" type="image/x-icon">
  <!-- En thymeleaf la ruta del css se escribe de la siguiente forma  -->
  <link rel="stylesheet" th:href="@{/css/output.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
  <lnk
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body class="overflow-x-hidden">
  <div th:replace="fragments/header"></div>
  <main class="flex">

    <div th:replace="fragments/sidebar :: sidebar(null)"></div>
    <section class="grow flex flex-col items-center">

      <div th:replace="fragments/steps-indicator.html :: steps-indicator(2)"></div>
      <div class="grow">
        <div class="h-[800px]">
          <div class=" rounded-lg" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">

            <section class="bg-white font-roboto mx-4 mb-8 mt-2 antialiased dark:bg-dark-1">
              <div class="mx-auto max-w-screen-xl 2xl:px-0">

                <div class="md:gap-6 lg:flex lg:items-start xl:gap-8">
                  <div class="w-full flex-none lg:max-w-2xl xl:max-w-4xl">
                    <div class="space-y-6">
                      <div class="mt-4 md:mt-6 xl:mt-8">
                        <h3 class="text-2xl font-semibold text-dark-1 ">Combos</h3>
                        <div class="mt-6 grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 sm:mt-8">
                          <!-- Start Cards Combos-->
                          <!-- Thymeleaf para mostrar solo los combos -->
                          <div th:each="combo : ${combos}" th:if="${combo.id} <= 6"
                            class="flex flex-col justify-between md:space-y-6 overflow-hidden rounded-md border  md:w-64 border-gray-200 bg-white p-2 md:p-4 shadow-sm ">
                            <form class="no-layout-affect" th:action="@{/movie/view/pago}" method="post">
                              <a href="#" class="overflow-hidden rounded">
                                <img class="mx-auto md:h-[8rem]"
                                  th:src="@{/imgs/confiteria/{imagen}(imagen=${combo.imagen})}" alt="imac image" />
                              </a>

                              <div>
                                <h2 class="text-[16px] md:text-[18px] font-semibold font-roboto 
                                  hover:underline text-dark-1" th:text="${combo.nombre}"></h2>
                                <p class="mt-2 text-[12px] md:text-[14px] leading-4 font-normal text-dark-1"
                                  th:text="${combo.descripcion}"></p>
                              </div>
                              <div class="mt-6 flex justify-between content-end items-end gap-2">
                                <div class="flex items-center">
                                  <button type="button" id="decrement-button"
                                    data-input-counter-decrement="counter-input" class="inline-flex h-5 md:h-7 w-5 md:w-7 shrink-0 items-center justify-center  
                                    rounded-full border border-red-prim hover:bg-gray-200 focus:outline-none 
                                    focus:ring-2 focus:ring-gray-100 ">
                                    <svg class="h-3 w-3 text-red-prim rounded-full " aria-hidden="true"
                                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M1 1h16" />
                                    </svg>
                                  </button>


                                  <input type="text" name="amount" id="counter-input" data-input-counter class="p-1 md:p-2 w-8 md:w-10 shrink-0 border-0 bg-transparent text-center 
                                    text-md md:text-lg font-semibold text-dark-1  focus:ring-0 " placeholder=""
                                    value="0" required />
                                  <input type="hidden" name="comboId" th:value="${combo.id}" />

                                  <button type="button" id="increment-button"
                                    data-input-counter-increment="counter-input" class="inline-flex h-5 md:h-7 w-5 md:w-7 text-red-prim rounded-full 
                                    shrink-0 items-center justify-center  border border-red-prim hover:bg-gray-200 
                                    focus:outline-none focus:ring-2 focus:ring-gray-100 ">
                                    <svg class="h-3 w-3 rounded-full " aria-hidden="true"
                                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                  </button>
                                </div>
                                <div>
                                  <p class="text-md md:text-lg font-bold leading-tight text-dark-1">S/<span
                                      th:text="${combo.precio}"></span></p>
                                </div>
                              </div>
                              <button type="submit" id="submitButtonIndex"></button>
                            </form>


                          </div>
                          <!-- End Cards Combos -->

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Combos here -->
          </div>

        </div>
      </div>

    </section>

  </main>
  <div th:replace="fragments/footer"></div>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
  <script>
    document.getElementById('submitButtonSidebar').addEventListener('click', function () {
      document.getElementById('submitButtonIndex').click();
    });
  </script>
</body>

</html>