<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoflixx - Home</title>
    <link rel="stylesheet" href="../static/css/output.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
 
   
    <section class="grid grid-cols-10 gap-4 h-auto antialiased">
       <!-- Start header -->
        <div class="hero-tickets relative block col-start-1 col-end-11 h-96">
            <div class="absolute grid grid-cols-10 bottom-2 w-full z-10">
                    <div class="col-start-3 col-end-13 md:col-start-4 ">
                       <div class="flex space-x-10 items-center mb-5">
                        <h1 class="max-w-2xl text-light-1 text-[48px] font-extrabold font-archivo tracking-tight leading-none md:text-[84px] xl:text-[84px]">Deadpool</h1>
                       
                        <div class="w-[180px] h-15 rounded-md border px-4 border-light-1 drop-shadow-white-glow">
                        <h2 class="text-white w-full text-[20px] md:text-[32px] text-center items-center font-extralight font-roboto">10:25 pm</div>
                        </h2>
                   
                    </div>
                       <div class="flex space-x-1.5 mb-1">
                        <a href="#" class="font-roboto items-center ml-1 justify-center font-medium rounded-full px-3.5 py-1.5 font-light text-center text-[12px] uppercase text-light-1 bg-red-prim text-white  active:bg-red-prim active:text-white">
                            Hoy 10/09
                        </a> 
                        <a href="#" class="items-center ml-1 justify-center font-medium rounded-full px-3.5 py-1.5 font-light text-center text-[12px] uppercase text-light-1 border border-light-1 hover:bg-transparent hover:border-grey-200 font-roboto active:bg-red-prim active:text-white">
                            Domingo 11/09 
                        </a> 
                        <a href="#" class="items-center ml-1 justify-center font-medium rounded-full px-3.5 py-1.5 font-light text-center text-[12px] uppercase text-light-1 border border-light-1 hover:bg-transparent hover:border-grey-200 font-roboto active:bg-red-prim active:text-white">
                            Lunes 12/09
                        </a> 
                        <a href="#" class="items-center ml-1 justify-center font-medium rounded-full px-3.5 py-1.5 font-light text-center text-[12px] uppercase text-light-1 border border-light-1 hover:bg-transparent hover:border-grey-200 font-roboto active:bg-red-prim active:text-white">
                            Martes 13/09
                        </a> 
                    </div>
                    
                    </div>
                
            </div>
        </div>
        <!-- End header -->

         <!-- Start parking details -->
        <div class="col-start-1 col-end-4 h-96 bg-red-prim row-span-2">

        </div>
         <!-- End parking details -->

          <!-- Start choose parking -->
        <div class="col-start-4 col-end-11 row-span-2 bg-yellow-400">

        </div>
         <!-- End choose parking -->

  </section>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>