<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoflixx - Home</title>
    <!-- Favicon -->
    <link rel="icon" th:href="@{/imgs/resources/FLIXX_ISO.svg}" type="image/x-icon">
    <!-- Favicon -->
    <link rel="icon" th:href="@{/imgs/resources/FLIXX_ISO.svg}" type="image/x-icon">
    <!-- En thymeleaf la ruta del css se escribe de la siguiente forma  -->
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body class="overflow-x-hidden bg-light-1">
    <!-- Header -->
    <div th:replace="fragments/header"></div>

    <!-- Content -->
    <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-dvh overflow-hidden md:h-[30rem]">
            <!-- Item 1 -->
            <div th:each="movie: ${movie}" th:if="${movie.disponible} == true"
                class="duration-700 ease-in-out h-dvh w-full md:h-[30rem]" data-carousel-item>
                <img th:src="@{/imgs/{imagen}(imagen=${movie.bannerImg})}" class="absolute block w-full object-cover h-full 
                    -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                <section class="absolute block w-full -translate-x-1/2 md:-translate-y-1/2  
                    md:top-[45%] bottom-6 left-1/2">
                    <div class=" grid max-w-screen-xl px-4 pt-6 pb-16 mx-auto lg:gap-8
                         xl:gap-0 lg:py-16 lg:grid-cols-12">
                        <div class="mr-auto md:ml-16 place-self-center lg:col-span-7">
                            <h5 class="uppercase text-light-1 font-regular mb-1 text-sm md:text-md font-roboto">De 14 a
                                20 de setiembre</h5>
                            <h1 th:text="${movie.nombre}" class="max-w-2xl text-light-1 mb-2 text-[40px] font-extrabold 
                                font-archivo tracking-tight leading-none md:text-[64px] xl:text-[84px]">
                            </h1>
                            <p th:text="${movie.sinopsis}"
                                class="max-w-96 mb-4 font-light text-light-1 line-clamp-3 h-[76px] md:h-auto lg:mb-6 md:text-lg lg:text-xl font-roboto">
                                .</p>

                            <a th:href="@{/movie/view/{id}/entradas (id=${movie.id})}" class="inline-flex items-center bg-red-prim justify-center 
                                rounded-lg px-5 py-1.5 font-light text-center text-lg 
                                text-light-1 hover:bg-transparent hover:border font-roboto">
                                <img class="mr-2" th:src="@{/icons/entradas.svg}" alt="">
                                Comprar
                            </a>
                        </div>

                    </div>
                </section>
            </div>
            <!-- Slider indicators -->
            <div class="absolute z-30 flex -translate-x-1/2 bottom-2 left-1/2 space-x-3 rtl:space-x-reverse">
                <button type="button" class="w-10 h-1.5 rounded-lg" aria-current="true" aria-label="Slide 1"
                    data-carousel-slide-to="0"></button>
                <button type="button" class="w-10 h-1.5 rounded-lg" aria-current="false" aria-label="Slide 2"
                    data-carousel-slide-to="1"></button>
                <button type="button" class="w-10 h-1.5 rounded-lg" aria-current="false" aria-label="Slide 3"
                    data-carousel-slide-to="2"></button>
                <button type="button" class="w-10 h-1.5 rounded-lg" aria-current="false" aria-label="Slide 4"
                    data-carousel-slide-to="3"></button>
            </div>
        </div>
        <!-- Slider controls -->
        <button type="button"
            class="absolute hidden md:flex top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev>
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-dark-1/30 group-hover:bg-white/50">
                <svg class="w-4 h-4 text-white  rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 1 1 5l4 4" />
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button"
            class="absolute hidden md:flex top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next>
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-dark-1/30 group-hover:bg-white/50">
                <svg class="w-4 h-4 text-white  rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 9 4-4-4-4" />
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>

    <!-- End Content -->

    <!-- Gallery -->
    <section class="mx-auto w-[70%] mt-6 mb-16 md:my-16 ">
        <h1 class="text-red-sec font-archivo text-[40px] md:text-[64px] xl:text-[84px] mb-4">Películas</h1>

        <!-- Grid para imágenes -->
        <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 md:gap-6">

            <div th:each="movie: ${movie}" class="aspect-[4/5] relative  group">
                <a th:href="@{/movie/view/{id} (id=${movie.id})}">
                    <!-- Imagen de la película -->
                    <img class="h-full w-full rounded-sm object-cover"
                        th:src="@{/imgs/movies/{imagen}(imagen=${movie.posterImg})}" alt="Poster de la película">
                </a>

                <!-- Overlay con los botones -->
                <div
                    class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-70 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <a th:href="@{/movie/view/{id} (id=${movie.id})}"
                        class="mb-2 px-4 py-2 bg-blue-500 text-white text-center rounded-lg hover:bg-blue-600">
                        Ver detalles
                    </a>
                    <a th:href="@{/movie/view/{id}/entradas (id=${movie.id})}"
                        class="px-4 py-2 bg-red-500 text-white text-center rounded-lg hover:bg-red-600">
                        Comprar
                    </a>
                </div>
            </div>

        </div>
    </section>

    <!-- End Gallery -->
    <!-- Footer -->
    <div th:replace="fragments/footer"></div>

    <script src="../../../../node_modules/preline/dist/preline.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>