<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autoflixx - Home</title>
  <!-- Favicon -->
  <link rel="icon" th:href="@{/imgs/resources/FLIXX_ISO.svg}" type="image/x-icon">
  <!-- En thymeleaf la ruta del css se escribe de la siguiente forma  -->
  <link rel="stylesheet" th:href="@{/css/output.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <!-- librerias para las alertas -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<a class="overflow-x-hidden bg-light-1">
  <!-- Header -->
  <div th:replace="fragments/header"></div>
  <!-- Formulario -->
  <div class="flex flex-row justify-center items-center pt-8">
    <h1 class="text-red-sec font-archivo text-[40px] md:text-[64px] xl:text-[84px]">Crear Pelicula</h1>
  </div>
  <!-- contenedor padre -->
  <div class="flex flex-col lg:flex-row justify-center align-middle items-center gap-8">

    <!-- REGISTRO NUEVO -->

      <section class="bg-white w-[70%] dark:bg-gray-900">
        <div class="py-8 lg:py-10 px-4 mx-auto max-w-screen-xl">
  
          <form method="post" enctype="multipart/form-data"    th:action="@{/api/movie/admin/add-movie}" class="space-y-8">
            <div class="my-2">
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nombre de la Pelicula</label>
              <input type="text" id="email" th:value="${movie.nombre}" name="nombre"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                placeholder="Ingresa el nombre de la pelicula" required>
            </div>
            <div class="my-2">
              <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Fecha de
                Publicación</label>
              <input type="date" id="subject" th:value="${movie.fechaPub}"
                class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                placeholder="Let us know how we can help you" required>
            </div>
            <div class="sm:col-span-2 my-2">
              <label for="message"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Sinopsis</label>
              <textarea id="message" rows="6" th:text="${movie.sinopsis}"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Ingresa la sinopsis de la pelicula"></textarea>
            </div>
             <!-- Duración -->
        <div class="my-2">
          <label for="duracion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            Duración (en minutos)
          </label>
          <input type="number" id="duracion" name="duracion" min="1" th:value="${movie.duracion}"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Ejemplo: 120" required>
        </div>

        <!-- Género -->
        <div class="my-2">
          <label for="genero" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            Género
          </label>
          <select id="genero" name="genero" th:value="${movie.genero}"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option value="" disabled selected>Seleccione un género</option>
            <option value="Accion">Acción</option>
            <option value="Comedia">Comedia</option>
            <option value="Drama">Drama</option>
            <option value="Ciencia Ficcion">Ciencia Ficción</option>
            <option value="Documental">Documental</option>
            <option value="Romance">Romance</option>
            <option value="Terror">Terror</option>
          </select>
        </div>
            <div class="flex items-center my-6">
              <input id="link-checkbox" type="checkbox" value="" th:field="${movie.disponible}"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="link-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Disponible
              </label>
            </div>

            <!-- Subir archivo -->
            <div>
            <div class="mb-5">
              <label class="block mb-2 text-sm font-medium text-gray-900" for="imagenNuevo">Imagen de la Pelicula <span
                  class="text-gray-500 italic font-light tracking-wide text-xs">(imagen no mayor a 8mb)</span></label>
              <input
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50"
                id="imagen" type="file" name="imagen" accept="image/*">
              <img id="imagenPrevia" class="mt-2 max-w-full max-h-48 hidden mx-auto"
                alt="Previsualización de la imagen">
            </div>

            <div th:if="${error}" class="text-red-500">
              <p th:text="${error}"></p>
          </div>
          <div th:if="${msg}" class="text-green-500">
              <p th:text="${msg}"></p>
          </div>
          
            
            <a th:href="@{/api/movie/admin}" class="w-full flex"><button type="submit"
              class="text-white mx-auto bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-lg px-5 py-2.5 text-center me-2 mb-8 mt-8">Guardar</button></a>
            
          </form>
        </div>
      </section>
      <div class="border-b gap-y-8 /10 pb-12">

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      </div>
  </div>
 

  </div>


  <!-- <a th:href="@{/api/movie/admin/movie}" class="ml-10"><button type="button"
      class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-lg px-5 py-2.5 text-center me-2 mb-8 mt-8">Regresar</button></a> -->
  <br>
  <!-- Footer -->
  <div th:replace="fragments/footer"></div>


  <!-- alertas -->
  <script th:if="${warning != null}" th:inline="javascript">
    Swal.fire({
      title: 'Advertencia',
      text: [[${ warning }]],
      icon: 'warning',
      confirmButtonText: 'Reintentar',
      confirmButtonColor: '#ff9b00',
      backdrop: `rgba(0, 0, 0, 0.4)`
    });
  </script>
  <script th:if="${success != null}" th:inline="javascript">
    Swal.fire({
      title: '¡Éxito!',
      text: [[${ success }]],
      icon: 'success',
      confirmButtonText: 'OK',
      confirmButtonColor: '#33cf14',
      backdrop: `rgba(0, 0, 0, 0.4)`,
    });
  </script>
  <script th:if="${error != null}" th:inline="javascript">
    Swal.fire({
      title: 'Error',
      text: [[${ error }]],
      icon: 'error',
      confirmButtonText: 'Reintentar',
      confirmButtonColor: '#ef4517',
      backdrop: `rgba(0, 0, 0, 0.4)`
    });
  </script>
  <!-- cargar imagen en el html -->
  <script>
    // evitar que el script manipule html aun no cargado
    document.addEventListener('DOMContentLoaded', () => {
      const imagenCargada = document.getElementById('imagen');
      const imagenPrevia = document.getElementById('imagenPrevia');

      imagenCargada.addEventListener('change', (event) => {
        const file = event.target.files[0];

        if (file) {
          const reader = new FileReader();
          reader.onload = (e) => {
            imagenPrevia.src = e.target.result;
            imagenPrevia.style.display = 'block';
          };
          reader.readAsDataURL(file);
        } else {
          imagenPrevia.style.display = 'none';
          imagenPrevia.src = '';
        }
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/preline/dist/preline.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
  </body>

</html>