<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autoflixx - Home</title>
  <!-- Favicon -->
  <link rel="icon" th:href="@{/imgs/resources/FLIXX_ISO.svg}" type="image/x-icon">
  <!-- En thymeleaf la ruta del css se escribe de la siguiente forma  -->
  <link rel="stylesheet" th:href="@{/css/output.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <!-- librerias para las alertas -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<a class="overflow-x-hidden bg-light-1">
  <!-- Header -->
  <div th:replace="fragments/header"></div>
  <!-- Título -->
  <div class="flex justify-center pt-8">
    <h1 class="text-red-sec font-roboto font-semibold text-[60px] md:text-[64px] xl:text-[70px] mb-10">Editar Producto</h1>
  </div>
  <!-- Contenedor Padre -->
  <div class="flex flex-col lg:flex-row justify-center items-center gap-8">
    <!-- Registro Original -->
    <form class="w-96 max-w-lg p-5  rounded-xl shadow-xl">
      <h2 class="text-gray-700 font-sans font-semibold text-[25px] md:text-[29px] xl:text-[35px] mb-5 text-center">Registro Original</h2>
      <!-- Nombre -->
      <div class="mb-5">
        <label for="nombreOg" class="block mb-2 text-sm md:text-base font-semibold text-gray-700">Nombre</label>
        <input id="nombreOg" th:value="${movie.nombre}" disabled
          class="w-full p-2.5 bg-white border border-gray-300 rounded-lg shadow-sm text-gray-600 text-sm focus:ring-purple-500 focus:border-purple-500" />
      </div>
      <!-- Descripción -->
      <div class="mb-5">
        <label for="descripcionOg" class="block mb-2 text-sm md:text-base font-semibold text-gray-700">Sinopsis</label>
        <textarea id="descripcionOg" rows="4" th:text="${movie.sinopsis}" disabled
          class="w-full p-2.5 text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm focus:ring-purple-500 focus:border-purple-500"></textarea>
      </div>
      <!-- Disponible -->
      <div class="mb-5">
        <label class="block mb-2 text-sm md:text-base font-semibold text-gray-700">Disponible</label>
        <div class="flex items-center">
          <input id="disponible-option-1-Og" type="radio" name="disponible" value="1"
            th:checked="${movie.disponible == 1}" class="w-4 h-4 border-gray-300 focus:ring-purple-500" disabled>
          <label for="disponible-option-1-Og" class="ml-2 text-sm text-gray-700">Sí</label>
          <input id="disponible-option-2-Og" type="radio" name="disponible" value="0"
            th:checked="${movie.disponible == 0}" class="ml-4 w-4 h-4 border-gray-300 focus:ring-purple-500" disabled>
          <label for="disponible-option-2-Og" class="ml-2 text-sm text-gray-700">No</label>
        </div>
      </div>
      <!-- Imagen -->
       <div class="mb-5">
              <label class="block mb-2 text-sm font-medium text-gray-900" for="imagenNuevo">Imagen de la Pelicula <span
                  class="text-gray-500 italic font-light tracking-wide text-xs">(imagen no mayor a 8mb)</span></label>
              <input
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50"
                id="imagen" type="file" name="imagen" accept="image/*">
              <img id="imagenPrevia" class="mt-2 max-w-full max-h-48 hidden mx-auto"
                alt="Previsualización de la imagen">
            </div>
    </form>

    <!-- Imagen Icono -->
    <div class="w-[100px] h-[100px]">
      <img class="w-full h-full object-contain" th:src="@{/icons/alreves.png}" alt="Reverse Icon">
    </div>

    <!-- Registro Nuevo -->
    <form class="max-w-md p-5 bg-white rounded-xl shadow-xl"
      method="post" th:action="@{/api/movie/admin/edit-movie/{id} (id=${movie.id})}" enctype="multipart/form-data">
      <input type="hidden" name="_method" value="PUT">
      <h2 class="text-gray-700 font-sans font-semibold text-[25px] md:text-[29px] xl:text-[35px] mb-5 text-center">Registro Nuevo</h2>
      <!-- Nombre -->
      <div class="mb-5">
        <label for="nombre" class="block mb-2 text-sm md:text-base font-semibold text-gray-700">Nombre</label>
        <input type="text" id="nombre" name="nombre" th:value="${movie.nombre}" placeholder="P. ej.: Promo de porción de nachos + 2 helados"
          class="w-full p-2.5 bg-white border border-gray-300 rounded-lg shadow-sm text-gray-700 focus:ring-purple-500 focus:border-purple-500" required />
      </div>
      <!-- Descripción -->
      <div class="mb-5">
        <label for="descripcion" class="block mb-2 text-sm md:text-base font-semibold text-gray-700">Sinopsis</label>
        <textarea id="descripcion" name="sinopsis" rows="4" placeholder="P. ej.: Nombre de la película"
          class="w-full p-2.5 bg-white border border-gray-300 rounded-lg shadow-sm text-gray-700 focus:ring-purple-500 focus:border-purple-500" required></textarea>
      </div>
      <!-- Disponible -->
      <div class="mb-5">
        <label class="block mb-2 text-sm md:text-base font-semibold text-gray-700">Disponible</label>
        <div class="flex items-center">
          <input id="disponible-option-1" type="radio" name="disponible" value="1" th:checked="${movie.disponible == 1}"
            class="w-4 h-4 border-gray-300 focus:ring-purple-500">
          <label for="disponible-option-1" class="ml-2 text-sm text-gray-700">Sí</label>
          <input id="disponible-option-2" type="radio" name="disponible" value="0" th:checked="${movie.disponible == 0}"
            class="ml-4 w-4 h-4 border-gray-300 focus:ring-purple-500">
          <label for="disponible-option-2" class="ml-2 text-sm text-gray-700">No</label>
        </div>
      </div>
      <!-- Subir Imagen -->
      <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="imagenNuevo">Imagen de la Pelicula <span
            class="text-gray-500 italic font-light tracking-wide text-xs">(imagen no mayor a 8mb)</span></label>
        <input
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50"
          id="imagen" type="file" name="imagen" accept="image/*">
        <img id="imagenPrevia" class="mt-2 max-w-full max-h-48 hidden mx-auto"
          alt="Previsualización de la imagen">
      </div>
      <!-- Botón Submit -->
      <div class="flex justify-center mt-5">
        <button type="submit"
              class="text-white mx-auto bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-lg px-5 py-2.5 text-center me-2 mb-8 mt-8">Guardar Cambios</button>
      </div>
    </form>
  </div>
</a>
<br>
  <!-- Footer -->
  <div th:replace="fragments/footer"></div>


  <!-- alertas -->
  <script th:if="${warning != null}" th:inline="javascript">
    Swal.fire({
      title: 'Advertencia',
      text: [[${ warning }]],
      icon: 'warning',
      confirmButtonText: 'Reintentar',
      confirmButtonColor: '#ff9b00',
      backdrop: `rgba(0, 0, 0, 0.4)`
    });
  </script>
  <script th:if="${success != null}" th:inline="javascript">
    Swal.fire({
      title: '¡Éxito!',
      text: [[${ success }]],
      icon: 'success',
      confirmButtonText: 'OK',
      confirmButtonColor: '#33cf14',
      backdrop: `rgba(0, 0, 0, 0.4)`,
    });
  </script>
  <script th:if="${error != null}" th:inline="javascript">
    Swal.fire({
      title: 'Error',
      text: [[${ error }]],
      icon: 'error',
      confirmButtonText: 'Reintentar',
      confirmButtonColor: '#ef4517',
      backdrop: `rgba(0, 0, 0, 0.4)`
    });
  </script>
  <!-- cargar imagen en el html -->
  <script>
    // evitar que el script manipule html aun no cargado
    document.addEventListener('DOMContentLoaded', () => {
      const imagenCargada = document.getElementById('imagen');
      const imagenPrevia = document.getElementById('imagenPrevia');

      imagenCargada.addEventListener('change', (event) => {
        const file = event.target.files[0];

        if (file) {
          const reader = new FileReader();
          reader.onload = (e) => {
            imagenPrevia.src = e.target.result;
            imagenPrevia.style.display = 'block';
          };
          reader.readAsDataURL(file);
        } else {
          imagenPrevia.style.display = 'none';
          imagenPrevia.src = '';
        }
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/preline/dist/preline.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
  </body>

</html>